<a href="https://colab.research.google.com/github/bldev2473/KaggleWithColab/blob/main/KaggleAPI_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload() #upload kaggle.json

!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
kaggle.json

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 10.7MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.25MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 52.4MB/s]

In [ ]:
!ls

gender_submission.csv  kaggle.json  sample_data  test.csv  train.csv

In [ ]:
import os
os.listdir()

['.config',
 'kaggle.json',
 'gender_submission.csv',
 'train.csv',
 'test.csv',
 'sample_data']

In [ ]:
import os
cd = os.getcwd()
for dirname, _, filenames in os.walk(cd):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/kaggle.json
/content/gender_submission.csv
/content/train.csv
/content/test.csv
/content/.config/.last_opt_in_prompt.yaml
/content/.config/gce
/content/.config/active_config
/content/.config/config_sentinel
/content/.config/.last_update_check.json
/content/.config/.last_survey_prompt.yaml
/content/.config/.metricsUUID
/content/.config/logs/2020.10.14/16.31.25.706256.log
/content/.config/logs/2020.10.14/16.31.31.333159.log
/content/.config/logs/2020.10.14/16.30.50.869240.log
/content/.config/logs/2020.10.14/16.31.46.824031.log
/content/.config/logs/2020.10.14/16.31.46.119103.log
/content/.config/logs/2020.10.14/16.31.10.843101.log
/content/.config/configurations/config_default
/content/sample_data/README.md
/content/sample_data/anscombe.json
/content/sample_data/mnist_test.csv
/content/sample_data/california_housing_test.csv
/content/sample_data/california_housing_train.csv
/content/sample_data/mnist_train_small.csv

In [ ]:
import numpy as np
import pandas as pd
trainData = pd.read_csv(cd + '/train.csv')

In [ ]:
trainData.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
corrDf = trainData.corr()
corrDf

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [ ]:
std = 0.3
features = list(corrDf[(abs(corrDf.Survived) > std) & (abs(corrDf.Survived) != 1)].index)
features

['Pclass']

In [ ]:
label = ['Survived']

In [ ]:
trainDataFeatures = trainData[features]
trainDataFeatures

     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]

In [ ]:
trainDataLabel = trainData[label]
trainDataLabel

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [ ]:
from sklearn import linear_model
linearModel = linear_model.LinearRegression()
model = linearModel.fit(trainDataFeatures, trainDataLabel)

In [ ]:
testData = pd.read_csv(cd + '/test.csv')
testData.head(5)

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
testDataFeatures = testData[features]

In [ ]:
predict = model.predict(testDataFeatures)
predict

array([[0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.64163504],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.44463948],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.44463948],
       [0.44463948],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.64163504],
       [0.24764393],
       [0.44463948],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.44463948],
       [0.64163504],
       [0.64163504],
       [0.64163504],
       [0.44463948],
       [0.44463948],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.64163504],
       [0.24764393],
       [0.24764393],
       [0.24764393]])

In [ ]:
predictData = pd.DataFrame(predict)
predictData.columns = ['Survived']
predictData

     Survived
0    0.247644
1    0.247644
2    0.444639
3    0.247644
4    0.247644
..        ...
413  0.247644
414  0.641635
415  0.247644
416  0.247644
417  0.247644

[418 rows x 1 columns]

In [ ]:
resultData = pd.concat([testData['PassengerId'], predictData], axis=1)
resultData

     PassengerId  Survived
0            892  0.247644
1            893  0.247644
2            894  0.444639
3            895  0.247644
4            896  0.247644
..           ...       ...
413         1305  0.247644
414         1306  0.641635
415         1307  0.247644
416         1308  0.247644
417         1309  0.247644

[418 rows x 2 columns]

In [ ]:
resultData['Survived'] = np.where(resultData.Survived >= 0.5, 1, 0)
resultData

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
resultData.to_csv('gender_submission.csv', index=False)

In [ ]:
from sklearn import ensemble
ensembleModel = ensemble.RandomForestRegressor(random_state=1, n_estimators=5)
model = ensembleModel.fit(trainDataFeatures, trainDataLabel)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
predict = model.predict(testDataFeatures)
predict

array([0.23284992, 0.23284992, 0.44708296, 0.23284992, 0.23284992,
       0.23284992, 0.23284992, 0.44708296, 0.23284992, 0.23284992,
       0.23284992, 0.60113945, 0.60113945, 0.44708296, 0.60113945,
       0.44708296, 0.44708296, 0.23284992, 0.23284992, 0.23284992,
       0.60113945, 0.23284992, 0.60113945, 0.60113945, 0.60113945,
       0.23284992, 0.60113945, 0.23284992, 0.60113945, 0.23284992,
       0.44708296, 0.44708296, 0.23284992, 0.23284992, 0.60113945,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.23284992,
       0.23284992, 0.60113945, 0.23284992, 0.44708296, 0.60113945,
       0.23284992, 0.60113945, 0.23284992, 0.60113945, 0.23284992,
       0.60113945, 0.44708296, 0.44708296, 0.60113945, 0.44708296,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.60113945,
       0.23284992, 0.44708296, 0.23284992, 0.23284992, 0.60113945,
       0.44708296, 0.23284992, 0.60113945, 0.60113945, 0.60113945,
       0.23284992, 0.23284992, 0.23284992, 0.60113945, 0.60113945,
       0.60113945, 0.23284992, 0.60113945, 0.44708296, 0.23284992,
       0.23284992, 0.60113945, 0.60113945, 0.23284992, 0.44708296,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.44708296,
       0.23284992, 0.23284992, 0.60113945, 0.23284992, 0.60113945,
       0.23284992, 0.60113945, 0.23284992, 0.23284992, 0.23284992,
       0.60113945, 0.44708296, 0.23284992, 0.23284992, 0.23284992,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.44708296,
       0.44708296, 0.23284992, 0.60113945, 0.23284992, 0.60113945,
       0.23284992, 0.23284992, 0.23284992, 0.60113945, 0.44708296,
       0.44708296, 0.23284992, 0.60113945, 0.23284992, 0.23284992,
       0.23284992, 0.23284992, 0.23284992, 0.44708296, 0.23284992,
       0.23284992, 0.60113945, 0.23284992, 0.23284992, 0.23284992,
       0.23284992, 0.23284992, 0.44708296, 0.23284992, 0.23284992,
       0.23284992, 0.60113945, 0.60113945, 0.44708296, 0.60113945,
       0.23284992, 0.60113945, 0.23284992, 0.60113945, 0.44708296,
       0.60113945, 0.23284992, 0.23284992, 0.23284992, 0.23284992,
       0.23284992, 0.60113945, 0.23284992, 0.60113945, 0.23284992,
       0.23284992, 0.23284992, 0.44708296, 0.23284992, 0.44708296,
       0.23284992, 0.60113945, 0.23284992, 0.60113945, 0.23284992,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.23284992,
       0.44708296, 0.44708296, 0.60113945, 0.44708296, 0.60113945,
       0.44708296, 0.60113945, 0.60113945, 0.23284992, 0.60113945,
       0.44708296, 0.44708296, 0.23284992, 0.23284992, 0.44708296,
       0.44708296, 0.60113945, 0.23284992, 0.44708296, 0.44708296,
       0.23284992, 0.60113945, 0.23284992, 0.44708296, 0.23284992,
       0.23284992, 0.23284992, 0.60113945, 0.44708296, 0.44708296,
       0.60113945, 0.23284992, 0.44708296, 0.60113945, 0.23284992,
       0.23284992, 0.23284992, 0.44708296, 0.44708296, 0.23284992,
       0.60113945, 0.23284992, 0.60113945, 0.60113945, 0.23284992,
       0.44708296, 0.23284992, 0.44708296, 0.23284992, 0.60113945,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.44708296,
       0.44708296, 0.60113945, 0.23284992, 0.23284992, 0.60113945,
       0.23284992, 0.60113945, 0.23284992, 0.44708296, 0.60113945,
       0.60113945, 0.44708296, 0.60113945, 0.23284992, 0.23284992,
       0.60113945, 0.44708296, 0.44708296, 0.44708296, 0.23284992,
       0.44708296, 0.23284992, 0.60113945, 0.23284992, 0.23284992,
       0.23284992, 0.23284992, 0.23284992, 0.44708296, 0.23284992,
       0.23284992, 0.23284992, 0.44708296, 0.23284992, 0.44708296,
       0.23284992, 0.60113945, 0.23284992, 0.23284992, 0.23284992,
       0.60113945, 0.23284992, 0.60113945, 0.23284992, 0.23284992,
       0.44708296, 0.44708296, 0.44708296, 0.44708296, 0.44708296,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.23284992,
       0.23284992, 0.23284992, 0.60113945, 0.23284992, 0.23284992,
       0.60113945, 0.23284992, 0.23284992, 0.60113945, 0.23284992,
       0.23284992, 0.44708296, 0.23284992, 0.60113945, 0.23284992,
       0.23284992, 0.44708296, 0.44708296, 0.23284992, 0.23284992,
       0.60113945, 0.60113945, 0.23284992, 0.60113945, 0.23284992,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.60113945,
       0.23284992, 0.60113945, 0.44708296, 0.23284992, 0.44708296,
       0.23284992, 0.23284992, 0.44708296, 0.60113945, 0.60113945,
       0.23284992, 0.44708296, 0.60113945, 0.44708296, 0.44708296,
       0.44708296, 0.60113945, 0.23284992, 0.23284992, 0.23284992,
       0.60113945, 0.44708296, 0.23284992, 0.44708296, 0.23284992,
       0.44708296, 0.23284992, 0.23284992, 0.60113945, 0.23284992,
       0.23284992, 0.44708296, 0.23284992, 0.44708296, 0.44708296,
       0.60113945, 0.44708296, 0.44708296, 0.44708296, 0.23284992,
       0.60113945, 0.60113945, 0.23284992, 0.23284992, 0.23284992,
       0.23284992, 0.44708296, 0.44708296, 0.23284992, 0.60113945,
       0.23284992, 0.23284992, 0.23284992, 0.60113945, 0.44708296,
       0.44708296, 0.60113945, 0.60113945, 0.44708296, 0.60113945,
       0.60113945, 0.23284992, 0.44708296, 0.60113945, 0.23284992,
       0.23284992, 0.23284992, 0.23284992, 0.23284992, 0.44708296,
       0.44708296, 0.23284992, 0.44708296, 0.23284992, 0.23284992,
       0.60113945, 0.60113945, 0.23284992, 0.44708296, 0.23284992,
       0.60113945, 0.23284992, 0.60113945, 0.23284992, 0.23284992,
       0.60113945, 0.44708296, 0.60113945, 0.60113945, 0.60113945,
       0.44708296, 0.44708296, 0.60113945, 0.23284992, 0.23284992,
       0.23284992, 0.60113945, 0.23284992, 0.23284992, 0.60113945,
       0.23284992, 0.23284992, 0.23284992])